<div class="ui internally celled grid">
    <div class="row">
        <div class="three wide column">
            <h3 class="ui header username">{{username}}</h3>
            <img class="ui medium bordered rounded image" src="{{userImg}}">
            <br>
            <div class="ui labeled button" tabindex="0">
                <div class="ui tiny red button">
                    <i class="heart icon"></i> Like
                </div>
                <a class="ui basic red left pointing label">
                    0
                </a>
            </div>
            <button class="ui blue icon button">
                <i class="icon bookmark "></i>
                Bookmark
            </button>
        </div>
        <div class="ten wide column">
            <h3 class="ui center aligned header">
                {{name}}
            </h3>
            <img class="ui centered medium circular image" src="{{clubImg}}">
            <h2 class="ui dividing left aligned header">
                Location
            </h2>
            <p>{{location}}</p>
            <p>Singapore {{postalCode}}</p>
            <h2 class="ui dividing header">
                Ratings
            </h2>
        </div>
    </div>
</div>